body{
	padding:0px;
	margin:0px;
	font-family: Lato;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: red;
    
	height: 100px;
	font-size: 50px;
}

.centered-text {
   padding:30px;
    text-align: left;
	width:100%;
	font-weight:bold;
}

.buttonnav {
    display: flex;
}

.but {
   
   
    background-color:black;
    cursor: pointer;
	width: 130px;
	color: #787878;
	border: 2px solid #787878;
	font-size: 20px;
	height: 96px;
	display: flex;
	justify-content: center;
 	align-items: center;
 	text-align: center;
 	transition: 0.3s;
}

.but:hover {
 background-color: #787878;
 color: red;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
	height:1000px;
	 background-repeat: no-repeat;
	   background-position: center;

background-image:url(img/octagon.jfif);

}

.pic {
    width: 30%; 
    height: 700px; 
   display:flex;
   justify-content:center;
   align-items:center;
	
}
.desc{
	color: red;
	margin:23px 0px 0px 0px;
	padding:0px;
	font-weight: bold;
	line-height:65px;
	opacity:1;
}

#demo{
	
	padding:0px;
	margin: 20px 0px 20px 0px;
	color: black;
	opacity:1;

}


.kloc {
    width: 30%; 
    height: 400px; 
    background-color: #c9c9c9; 
    font-family: Lato;
    font-size: 50px;
    text-align: center;
transition:0.2s;
	border-radius:10px;
	opacity:1;
}


.kloc:hover {
    background-color: #dddddd;

}
.descb{
	font-size:30px;
	margin:30px 0px 0px 0px;
	line-height:50px;
	opacity:1;
}



footer {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 20px;
}

.link {
    text-decoration: none;
}
.link:active{
	text-decoration:none;
}
.stopaL {
    color: white;
    margin: 0px;
    border-right: 2px dotted #787878;
    padding: 0px 5px 0px 0px;
}

.stopaR {
    color: white;
    margin: 0px 0px 0px 5px;
}

.blontczteryzerocztery{
	background-image:url(img/blont.png);
	 background-repeat: no-repeat;
	   background-position: center;
	   height:745px;
	   width:1748px;
}

.linkglowny {
	color: red;
  position: relative;
  text-decoration: none;
}

.linkglowny::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.linkglowny:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.wrap{
	height:800px;
	background-color:grey;
	
}